.head{
    height: 200px;
}

.title_text{
    text-align: center;
}

.title_text_title{
    font-size: 60px;
}

a{
  color: white;
}

html {
    height: 100%;
  }

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: hidden; 
    overflow-x: hidden; 
  }
  
main { 
    overflow-y: auto; 
    overflow-x: hidden; 
      } 
  
footer{
    height: 60px;

  }
  
header{
    height: 60px;
    padding: 20px;    
  }

.back{
    margin: 0px 0px 0px 30px;
}